extends layout

block content
	form(action="contact/send", method="post")
		h1 Contact
		div
			label Name
			input(type="text", name="name", placeholder="insert your name")
			label Email
			input(type="text", name="email", placeholder="insert your email")
			label Message
			textarea(type="text", name="message", placeholder="insert your message")
		button submit