doctype
html
	head
		title title line
		link(href="stylesheets/style.css", rel="stylesheet")
	body
		//header
		header
			nav
				ul
					li
						a(href="/") home route
					li
						a(href="/about") about route
					li
						a(href="/contact") contact route
		// another file that extends this one will have the content inserted in this "block content"
		div
			block content
		// footer
		div
			hr
			p(class="text-center") footer text
			p(class="text-center") another footer text